.hero {
  width: 100%;
  color: #333;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 48px;
}

.title,
.description {
  text-align: center;
  width: 100%;
}

.page {
  padding-top: 144px;
  height: 100%;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 36px;
  }
}
